<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Influitive Crafters</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/infl.css"}}" />
  </head>
  <body>
    <section class='branding'>
      <h1 id="logo">
        <span>Influitive</span>
      </h1>
      <ul id="nav-bar">
        <li class="main-section">
          <a href="#crafters">Crafters</a>
        </li>
        <li>
          <a href="#events">Upcoming Events</a>
        </li>
        <li>
          <a href="#team">The Team</a>
        </li>
        <li>
          <a href="#open-source">Open Source</a>
        </li>
        <li>
          <a href="#recent-posts">Recent posts</a>
        </li>
      </ul>
    </section>

    <section class='hero-unit' id="crafters">
      <div class="branding-bar"></div>
      <div class="details">
        <h2>Influitive Crafters</h2>
        <p>Super witty tagline</p>
      </div>
    </section>

    <section class='mission'>
      <h2 class="section-title">Thinking big.  Building smart.</h2>
      <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

    <section class='events' id="events">
      <h2 class="section-title">Upcoming Events</h2>

      <ul class='event-list'>
        <li class="event">I'm an event!</li>
        <li class="event">I'm another event!</li>
      </ul>
    </section>

    <section class='team' id="team">
      <h2 class="section-title">Meet the Team</h2>

      <ul class='article-list'>
        <li>Ryan</li>
        <li>Nick</li>
        <li>See more...</li>
      </ul>
    </section>

    <section class='open-source' id="open-source">
      <h2 class="section-title">Open Source @ Influitive</h2>

      <ul class='article-list'>
        <li>Apartment</li>
        <li>Multiple Man</li>
        <li>blah</li>
        <li>blah</li>
        <li>blah</li>
        <li>blah</li>
      </ul>
    </section>

    <section class='article-list' id="recent-posts">
      <h2 class="section-title">Recent Blog Posts</h2>

      <ul class='article-list'>
        <li>12 reasons that 6 reasons is better than 4 reasons</li>
        <li>This guys used one weird trick for crafting software. Developers hate him!</li>
      </ul>
    </section>
  </body>
</html>
